<a href="https://colab.research.google.com/github/Md-Jahid-Hasan/ai-lab-course/blob/master/Jahid_FBR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Topic name: Food business analysis and prediction using Machine Learning.

Members info:

1. Md Sharif khan      ID: 181-15-2002
2. Md Jahid Hasan      ID: 181-15-1905
3. Md Masidul Hasan    ID: 181-15-1947

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AY0e-g4VBsFnLdWWZ55Plf6XdL_v1hnNAnVNEr0VWL9wZ-uekf7LEv_8OVA
Mounted at /content/gdrive

In [ ]:
import pandas as pd
primary_data = pd.read_csv('gdrive/My Drive/Colab Notebooks/FBRD.csv')

In [ ]:
primary_data.head()
primary_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              422 non-null    object
 1   Gender                           422 non-null    object
 2   Marital_status                   422 non-null    object
 3   Division                         422 non-null    object
 4   Home_town                        422 non-null    object
 5   Living_Town                      422 non-null    object
 6   Is_urban                         422 non-null    object
 7   Work                             422 non-null    object
 8   Income                           422 non-null    object
 9   take_food_from_restuarent_month  422 non-null    object
 10  Order_food_from_online_month     422 non-null    object
 11  Spicy                            422 non-null    int64
 12  Sweet                            422 non-null    int64
 13  Preferable_price_BDT             422 non-null    object
 14  New_recipe                       422 non-null    object
 15  Street_food                      422 non-null    int64
 16  Restuarent_food                  422 non-null    int64
 17  Cost_rest_month                  422 non-null    object
 18  Food_type                        422 non-null    object
dtypes: int64(4), object(15)
memory usage: 62.8+ KB

In [ ]:
train = primary_data
# train = train.drop('Timestamp', axis=1)
# train.head()

In [ ]:
train = train.rename(columns={'Marital status': 'Marital_status', 'Select your division': 'Division',
                              'Home town': 'Home_town', 'Living Town': 'Living_Town',
                              'Do you live in an urban area?': 'Is_urban',
                              'Type of work': 'Work',
                              'Your monthly Income': 'Income',
                              'Number of time takes foods from restaurants in a month': 'take_food_from_restuarent_month',
                              'Number of times order foods from online in a month': 'Order_food_from_online_month',
                              'How much spicy food do you like?': 'Spicy',
                              'How much sweet food do you like?': 'Sweet',
                              'What should be the preferable price for you? (price in BDT)': 'Preferable_price_BDT',
                              'Do you want new recipes?': 'New_recipe',
                              'How much do you like street foods?': 'Street_food',
                              "How much do you like restaurant's foods?": 'Restuarent_food',
                              'The approximate amount for restaurant cost in a month.': 'Cost_rest_month',
                              'Which type of foods do you like most?': 'Food_type'})

In [ ]:
train.columns

Index(['Age', 'Gender', 'Marital_status', 'Division', 'Home_town',
       'Living_Town', 'Is_urban', 'Work', 'Income',
       'take_food_from_restuarent_month', 'Order_food_from_online_month',
       'Spicy', 'Sweet', 'Preferable_price_BDT', 'New_recipe', 'Street_food',
       'Restuarent_food', 'Cost_rest_month', 'Food_type'],
      dtype='object')

In [ ]:
train.head()

     Age Gender  ... Cost_rest_month                 Food_type
0  16-30   Male  ...        501-1000  Traditional bengali food
1  16-30   Male  ...           1-500  Traditional bengali food
2  16-30   Male  ...           1-500                 Fast food
3  16-30   Male  ...           1-500  Traditional bengali food
4  16-30   Male  ...           1-500                 Fast food

[5 rows x 19 columns]

In [ ]:
age = list(train['Age'].unique())
for i,j in enumerate(age):
  train['Age'] = train['Age'].replace(j,i)

In [ ]:
gender = list(train['Gender'].unique())
for i,j in enumerate(gender):
  train['Gender'] = train['Gender'].replace(j,i)

In [ ]:
status = list(train['Marital_status'].unique())
for i,j in enumerate(status):
  train['Marital_status'] = train['Marital_status'].replace(j,i)

In [ ]:
division = list(train['Division'].unique())
for i,j in enumerate(division):
  train['Division'] = train['Division'].replace(j,i)

In [ ]:
p_data = list(train['Living_Town'].unique())
print(p_data)
for i,j in enumerate(p_data):
  train['Living_Town'] = train['Living_Town'].replace(j,i)

['Dhaka', 'Gazipur', 'Tangail', 'Faridpur', 'Rajbari', 'Chattogram', 'Bogura', 'Rajshahi', 'Sirajganj', "Cox's Bazar", 'Jhenaidah', 'Barishal', 'Patuakhali', 'Mymensingh', 'Lalmonirhat', 'Manikganj', 'Lakshmipur', 'Brahmanbaria', 'Joypurhat', 'Jashore', 'Narsingdi', 'Chapai Nawabganj', 'Kishoreganj', 'Sherpur', 'Jamalpur', 'Munshiganj', 'Moulvibazar', 'Cumilla', 'Noakhali', 'Kurigram', 'Naogaon', 'Narail', 'Kushtia', 'Natore']

In [ ]:
p_data = list(train['Home_town'].unique())
print(p_data)
for i,j in enumerate(p_data):
  train['Home_town'] = train['Home_town'].replace(j,i)

['Rangpur', 'Sirajganj', 'Khagrachhari', 'Magura', 'Chapai Nawabganj', 'Dhaka', 'Gazipur', 'Tangail', 'Faridpur', 'Manikganj', 'Thakurgaon', 'Barishal', 'Rajbari', 'Rajshahi', 'Kishoreganj', 'Bogura', 'Cumilla', 'Mymensingh', 'Jhenaidah', 'Patuakhali', 'Natore', 'Munshiganj', 'Lalmonirhat', 'Noakhali', 'Brahmanbaria', 'Jamalpur', 'Joypurhat', 'Pabna', 'Narsingdi', 'Narayanganj', 'Sherpur', 'Pirojpur', 'Chandpur', 'Satkhira', 'Naogaon', 'Feni', "Cox's Bazar", 'Jashore', 'Moulvibazar', 'Netrakona', 'Chattogram', 'Sunamganj', 'Lakshmipur', 'Kurigram', 'Narail', 'Kushtia', 'Gopalganj']

In [ ]:
p_data = list(train['Is_urban'].unique())
print(p_data)
for i,j in enumerate(p_data):
  train['Is_urban'] = train['Is_urban'].replace(j,i)

['Yes', 'No']

In [ ]:
p_data = list(train['Work'].unique())
print(p_data)
for i,j in enumerate(p_data):
  train['Work'] = train['Work'].replace(j,i)

['Private Job', 'Student', 'None', 'Govt. Job', 'Business']

In [ ]:
p_data = list(train['Income'].unique())
print(p_data)
for i,j in enumerate(p_data):
  train['Income'] = train['Income'].replace(j,i)

['30000+', '1-10000', '0', '20001-30000', '10001-20000']

In [ ]:
p_data = list(train['take_food_from_restuarent_month'].unique())
print(p_data)
for i,j in enumerate(p_data):
  train['take_food_from_restuarent_month'] = train['take_food_from_restuarent_month'].replace(j,i)

['1-5', '0', '6-10', '15+', '11-15']

In [ ]:
p_data = list(train['Order_food_from_online_month'].unique())
print(p_data)
for i,j in enumerate(p_data):
  train['Order_food_from_online_month'] = train['Order_food_from_online_month'].replace(j,i)

['1-5', '0', '6-10', '15+', '11-15']

In [ ]:
p_data = list(train['Preferable_price_BDT'].unique())
print(p_data)
for i,j in enumerate(p_data):
  train['Preferable_price_BDT'] = train['Preferable_price_BDT'].replace(j,i)

['101-200', '1-50', '51-100', '201-400', '501+', '401-500']

In [ ]:
p_data = list(train['New_recipe'].unique())
print(p_data)
for i,j in enumerate(p_data):
  train['New_recipe'] = train['New_recipe'].replace(j,i)

['Yes', 'No']

In [ ]:
p_data = list(train['Cost_rest_month'].unique())
print(p_data)
for i,j in enumerate(p_data):
  train['Cost_rest_month'] = train['Cost_rest_month'].replace(j,i)

['501-1000', '1-500', '0', '1000+']

In [ ]:
p_data = list(train['Food_type'].unique())
print(p_data)
for i,j in enumerate(p_data):
  train['Food_type'] = train['Food_type'].replace(j,i)

['Traditional bengali food', 'Fast food', 'Others']

In [ ]:
train.head()

   Age  Gender  Marital_status  ...  Restuarent_food  Cost_rest_month  Food_type
0    0       0               0  ...                3                0          0
1    0       0               0  ...                4                1          0
2    0       0               0  ...                5                1          1
3    0       0               1  ...                3                1          0
4    0       0               1  ...                2                1          1

[5 rows x 19 columns]

In [ ]:
train.groupby('Living_Town').size()

Living_Town
0     182
1      26
2      42
3       4
4       8
5       2
6      26
7       4
8      24
9       2
10      4
11      4
12      2
13     22
14      2
15      6
16      2
17      6
18      4
19      2
20      4
21      4
22      8
23      6
24      6
25      2
26      2
27      2
28      2
29      2
30      4
31      2
32      2
33      2
dtype: int64

In [ ]:
X = train.drop(['Food_type'], axis=1)
Y = train['Food_type']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.15, random_state=0)

In [ ]:
x_train.head()

     Age  Gender  Marital_status  ...  Street_food  Restuarent_food  Cost_rest_month
188    1       0               1  ...            1                1                1
107    0       0               0  ...            4                4                0
171    0       1               0  ...            3                3                2
157    0       0               0  ...            4                3                2
392    0       0               0  ...            5                5                1

[5 rows x 18 columns]

**K Neighbors Classifier**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, \
f1_score, jaccard_similarity_score

for k in range(1,11):
  knn_model = KNeighborsClassifier(n_neighbors=k)
  knn_model.fit(x_train, y_train)

  knn_result = knn_model.predict(x_test)

  print("Confusion Matrix -->")
  print(confusion_matrix(y_test, knn_result))

  print("Classification Report -->")
  print(classification_report(y_test, knn_result))
  print("Accuricy : ",jaccard_similarity_score(y_test, knn_result))
  print("Train set Accuricy", jaccard_similarity_score(y_train, knn_model.predict(x_train)))

Confusion Matrix -->
[[28  0  0]
 [ 2 31  0]
 [ 0  0  3]]
Classification Report -->
              precision    recall  f1-score   support

           0       0.93      1.00      0.97        28
           1       1.00      0.94      0.97        33
           2       1.00      1.00      1.00         3

    accuracy                           0.97        64
   macro avg       0.98      0.98      0.98        64
weighted avg       0.97      0.97      0.97        64

Accuricy :  0.96875
Train set Accuricy 1.0
Confusion Matrix -->
[[28  0  0]
 [14 19  0]
 [ 1  2  0]]
Classification Report -->
              precision    recall  f1-score   support

           0       0.65      1.00      0.79        28
           1       0.90      0.58      0.70        33
           2       0.00      0.00      0.00         3

    accuracy                           0.73        64
   macro avg       0.52      0.53      0.50        64
weighted avg       0.75      0.73      0.71        64

Accuricy :  0.734375
Train set Accuricy 0.9581005586592178
Confusion Matrix -->
[[16 11  1]
 [11 21  1]
 [ 1  1  1]]
Classification Report -->
              precision    recall  f1-score   support

           0       0.57      0.57      0.57        28
           1       0.64      0.64      0.64        33
           2       0.33      0.33      0.33         3

    accuracy                           0.59        64
   macro avg       0.51      0.51      0.51        64
weighted avg       0.59      0.59      0.59        64

Accuricy :  0.59375
Train set Accuricy 0.9329608938547486
Confusion Matrix -->
[[22  5  1]
 [17 15  1]
 [ 1  1  1]]
Classification Report -->
              precision    recall  f1-score   support

           0       0.55      0.79      0.65        28
           1       0.71      0.45      0.56        33
           2       0.33      0.33      0.33         3

    accuracy                           0.59        64
   macro avg       0.53      0.52      0.51        64
weighted avg       0.62      0.59      0.59        64

Accuricy :  0.59375
Train set Accuricy 0.7094972067039106
Confusion Matrix -->
[[23  5  0]
 [10 23  0]
 [ 2  0  1]]
Classification Report -->
              precision    recall  f1-score   support

           0       0.66      0.82      0.73        28
           1       0.82      0.70      0.75        33
           2       1.00      0.33      0.50         3

    accuracy                           0.73        64
   macro avg       0.83      0.62      0.66        64
weighted avg       0.76      0.73      0.73        64

Accuricy :  0.734375
Train set Accuricy 0.7067039106145251
Confusion Matrix -->
[[24  4  0]
 [15 18  0]
 [ 2  0  1]]
Classification Report -->
              precision    recall  f1-score   support

           0       0.59      0.86      0.70        28
           1       0.82      0.55      0.65        33
           2       1.00      0.33      0.50         3

    accuracy                           0.67        64
   macro avg       0.80      0.58      0.62        64
weighted avg       0.72      0.67      0.67        64

Accuricy :  0.671875
Train set Accuricy 0.6899441340782123
Confusion Matrix -->
[[18 10  0]
 [14 19  0]
 [ 1  1  1]]
Classification Report -->
              precision    recall  f1-score   support

           0       0.55      0.64      0.59        28
           1       0.63      0.58      0.60        33
           2       1.00      0.33      0.50         3

    accuracy                           0.59        64
   macro avg       0.73      0.52      0.56        64
weighted avg       0.61      0.59      0.59        64

Accuricy :  0.59375

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)

Train set Accuricy 0.6703910614525139
Confusion Matrix -->
[[21  7  0]
 [15 18  0]
 [ 1  1  1]]
Classification Report -->
              precision    recall  f1-score   support

           0       0.57      0.75      0.65        28
           1       0.69      0.55      0.61        33
           2       1.00      0.33      0.50         3

    accuracy                           0.62        64
   macro avg       0.75      0.54      0.59        64
weighted avg       0.65      0.62      0.62        64

Accuricy :  0.625
Train set Accuricy 0.664804469273743
Confusion Matrix -->
[[18 10  0]
 [14 19  0]
 [ 3  0  0]]
Classification Report -->
              precision    recall  f1-score   support

           0       0.51      0.64      0.57        28
           1       0.66      0.58      0.61        33
           2       0.00      0.00      0.00         3

    accuracy                           0.58        64
   macro avg       0.39      0.41      0.39        64
weighted avg       0.56      0.58      0.57        64

Accuricy :  0.578125
Train set Accuricy 0.6620111731843575
Confusion Matrix -->
[[20  8  0]
 [16 17  0]
 [ 2  1  0]]
Classification Report -->
              precision    recall  f1-score   support

           0       0.53      0.71      0.61        28
           1       0.65      0.52      0.58        33
           2       0.00      0.00      0.00         3

    accuracy                           0.58        64
   macro avg       0.39      0.41      0.39        64
weighted avg       0.57      0.58      0.56        64

Accuricy :  0.578125
Train set Accuricy 0.6564245810055865

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, \
f1_score, jaccard_similarity_score
knn_model = KNeighborsClassifier(n_neighbors=1)
knn_model.fit(x_train, y_train)
knn_result = knn_model.predict(x_test)
print("Confusion Matrix -->")
print(confusion_matrix(y_test, knn_result))

print("Classification Report -->")
print(classification_report(y_test, knn_result))
print("Accuricy : ",jaccard_similarity_score(y_test, knn_result))
print("Train set Accuricy", jaccard_similarity_score(y_train, knn_model.predict(x_train)))

Confusion Matrix -->
[[28  0  0]
 [ 2 31  0]
 [ 0  0  3]]
Classification Report -->
              precision    recall  f1-score   support

           0       0.93      1.00      0.97        28
           1       1.00      0.94      0.97        33
           2       1.00      1.00      1.00         3

    accuracy                           0.97        64
   macro avg       0.98      0.98      0.98        64
weighted avg       0.97      0.97      0.97        64

Accuricy :  0.96875
Train set Accuricy 1.0

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)

**Support Vector Machine**

In [ ]:
from sklearn import svm
svm_model = svm.SVC()
# svm_model.fit(x_train, y_train)
# svm_result = svm_model.predict(x_test)
# print("Confusion Matrix : ", confusion_matrix(y_test, svm_result))
# print(classification_report(y_test, svm_result))
# print("Jaccard index : ", jaccard_similarity_score(y_test, svm_result))

In [ ]:
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(svm_model, {
    'C': [1,2,3, 10, 20],
    'kernel': ['linear', 'poly', 'rbf'],
    'gamma': ['scale', 'auto']
}, cv=5, return_train_score=False)
clf.fit(X, Y)
result = clf.cv_results_

In [ ]:
df = pd.DataFrame(result)
df[['params', 'mean_test_score']]

                                             params  mean_test_score
0    {'C': 1, 'gamma': 'scale', 'kernel': 'linear'}         0.649244
1      {'C': 1, 'gamma': 'scale', 'kernel': 'poly'}         0.564146
2       {'C': 1, 'gamma': 'scale', 'kernel': 'rbf'}         0.620924
3     {'C': 1, 'gamma': 'auto', 'kernel': 'linear'}         0.649244
4       {'C': 1, 'gamma': 'auto', 'kernel': 'poly'}         0.985798
5        {'C': 1, 'gamma': 'auto', 'kernel': 'rbf'}         0.881457
6    {'C': 2, 'gamma': 'scale', 'kernel': 'linear'}         0.646891
7      {'C': 2, 'gamma': 'scale', 'kernel': 'poly'}         0.587787
8       {'C': 2, 'gamma': 'scale', 'kernel': 'rbf'}         0.642353
9     {'C': 2, 'gamma': 'auto', 'kernel': 'linear'}         0.646891
10      {'C': 2, 'gamma': 'auto', 'kernel': 'poly'}         1.000000
11       {'C': 2, 'gamma': 'auto', 'kernel': 'rbf'}         0.931204
12   {'C': 3, 'gamma': 'scale', 'kernel': 'linear'}         0.642157
13     {'C': 3, 'gamma': 'scale', 'kernel': 'poly'}         0.616134
14      {'C': 3, 'gamma': 'scale', 'kernel': 'rbf'}         0.649440
15    {'C': 3, 'gamma': 'auto', 'kernel': 'linear'}         0.642157
16      {'C': 3, 'gamma': 'auto', 'kernel': 'poly'}         1.000000
17       {'C': 3, 'gamma': 'auto', 'kernel': 'rbf'}         0.966751
18  {'C': 10, 'gamma': 'scale', 'kernel': 'linear'}         0.644538
19    {'C': 10, 'gamma': 'scale', 'kernel': 'poly'}         0.727507
20     {'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}         0.706246
21   {'C': 10, 'gamma': 'auto', 'kernel': 'linear'}         0.644538
22     {'C': 10, 'gamma': 'auto', 'kernel': 'poly'}         1.000000
23      {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}         1.000000
24  {'C': 20, 'gamma': 'scale', 'kernel': 'linear'}         0.642157
25    {'C': 20, 'gamma': 'scale', 'kernel': 'poly'}         0.772549
26     {'C': 20, 'gamma': 'scale', 'kernel': 'rbf'}         0.736863
27   {'C': 20, 'gamma': 'auto', 'kernel': 'linear'}         0.642157
28     {'C': 20, 'gamma': 'auto', 'kernel': 'poly'}         1.000000
29      {'C': 20, 'gamma': 'auto', 'kernel': 'rbf'}         1.000000

In [ ]:
from sklearn import tree
dt_model = tree.DecisionTreeClassifier()
# dt_model.fit(x_train, y_train)
# result = dt_model.predict(x_test)
# jaccard_similarity_score(y_test, result)
# dt_model.tree_.max_depth

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)

0.9375

In [ ]:
dt_hyperP_tuning = GridSearchCV(dt_model, {
    'criterion': ['gini', 'entropy'],
    'max_depth': [10, 11, 12, 13, 14, 15],
}, cv=5, return_train_score=False)
dt_hyperP_tuning.fit(X, Y)
dt_result = dt_hyperP_tuning.cv_results_
dt_df = pd.DataFrame(dt_result)

In [ ]:
dt_df[['params', 'mean_test_score']]

                                       params  mean_test_score
0      {'criterion': 'gini', 'max_depth': 10}         0.940756
1      {'criterion': 'gini', 'max_depth': 11}         0.957311
2      {'criterion': 'gini', 'max_depth': 12}         0.969216
3      {'criterion': 'gini', 'max_depth': 13}         0.985798
4      {'criterion': 'gini', 'max_depth': 14}         0.995266
5      {'criterion': 'gini', 'max_depth': 15}         0.995266
6   {'criterion': 'entropy', 'max_depth': 10}         0.910028
7   {'criterion': 'entropy', 'max_depth': 11}         0.931401
8   {'criterion': 'entropy', 'max_depth': 12}         0.964622
9   {'criterion': 'entropy', 'max_depth': 13}         0.974062
10  {'criterion': 'entropy', 'max_depth': 14}         0.995294
11  {'criterion': 'entropy', 'max_depth': 15}         0.997647